@font-face {
  font-family: 'simkai';  /* project id 1589955 */
  src: url('../font/simkai.eot');
  src: url('../font/simkai.eot?#iefix') format('embedded-opentype'),
  url('../font/simkai.woff2') format('woff2'),
  url('../font/simkai.woff') format('woff'),
  url('../font/simkai.ttf') format('truetype');
}
