@font-face {
  font-family: 'listen_svg';  /* project id 1589955 */
  src: url('//at.alicdn.com/t/font_1589955_nepv6bhp2s.eot');
  src: url('//at.alicdn.com/t/font_1589955_nepv6bhp2s.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1589955_nepv6bhp2s.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1589955_nepv6bhp2s.woff') format('woff'),
  url('//at.alicdn.com/t/font_1589955_nepv6bhp2s.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1589955_nepv6bhp2s.svg#iconfont') format('svg');
}

.listen_svg {
  font-family: "listen_svg" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suo:before {
  content: "\e605";
}

.icon-clear:before {
  content: "\e604";
}

.icon-suspend:before {
  content: "\e640";
}

.icon-play:before {
  content: "\e650";
}

.icon-songs:before {
  content: "\e68c";
}

.icon-volume:before {
  content: "\e601";
}

.icon-next:before {
  content: "\e67d";
}

.icon-pre:before {
  content: "\e7b9";
}

.icon-xinhao:before {
  content: "\e675";
}

.icon-coffee:before {
  content: "\e607";
}

.icon-minimize:before {
  content: "\e60c";
}

.icon-search:before {
  content: "\e62b";
}

.icon-pass:before {
  content: "\e65f";
}

.icon-set:before {
  content: "\e631";
}

.icon-close:before {
  content: "\e606";
}

.icon-earth:before {
  content: "\e642";
}

.icon-download:before {
  content: "\e651";
}

.icon-fm:before {
  content: "\e69a";
}

.icon-logo:before {
  content: "\e6a0";
}

.icon-smile:before {
  content: "\e61b";
}

.icon-music:before {
  content: "\e7b8";
}

.icon-divider:before {
  content: "\e62c";
}

.icon-phone:before {
  content: "\e602";
}

.icon-exit:before {
  content: "\e612";
}

.icon-top:before {
  content: "\e658";
}

.icon-left:before {
  content: "\e659";
}

.icon-down:before {
  content: "\e65a";
}

.icon-right:before {
  content: "\e65b";
}

.icon-collect:before {
  content: "\e600";
}

.icon-theme:before {
  content: "\e6d5";
}

.icon-add:before {
  content: "\e64f";
}

.icon-share:before {
  content: "\e67e";
}

.icon-style:before {
  content: "\e603";
}

