#listen {
  .listen_svg {
    -webkit-app-region: no-drag;
    cursor: pointer;
  }
  .layout_head {
    height: 50px;
    background: #C62F2F;
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    span {
      color: white;
    }
    .logo {
      margin-left: 20px;
      width: 200px;
      .icon {
        font-size: 18px;
      }
    }
    .among {
      span {
        color: #C77373;
      }
      .listen_search {
        input {
          background-color: #A82828;
          color: white;
          caret-color: white;
          border-radius: 10px;
          &::-webkit-input-placeholder {
            color: #C77373;
          }
        }
      }
    }
    .right {
      display: inline-flex;
      position: absolute;
      right: 20px;
      .divider {
        color: #A82828 !important;
      }
      .user, .app_operate {
        display: inline-flex;
        align-items: center;
        .listen_svg {
          margin-left: 15px;
        }
      }
      .user >span {
        margin-right: 10px;
        cursor: pointer;
        -webkit-app-region: no-drag;
      }
      .app_operate .svg-icon {
        margin-left: 10px;
        cursor: pointer;
      }
      .svg-icon {
        color: #EEC1C1;
        font-size: 10px;
      }
    }
  }
  .layout_body {
    width: 100%;
    height: 570px;
    display: flex;
    >div {
      height: 100%;
      overflow: auto;
    }
    .left {
      width: 200px;
      background-color: #F5F5F7;
    }
    .right {
      padding: 0 30px;
      width: calc(100% - 200px);
    }
  }
  .layout_foot {
    width: 100%;
    height: 49px;
    border-top: 1px solid #E1E1E2;
  }
}
