.other_label {
  font-size: 18px;
  border-bottom: 1px solid #E1E1E2;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  .action {
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #7D7D7D;
    cursor: pointer;
  }
}
.songs_modal {
  background-color: #F4F4F6;
  right: 5px;
  bottom: 55px;
  transform: none !important;
  top: unset !important;
  left: unset !important;
  .songs_com {
    width: 580px;
    height: 470px;
  }
}

